.main-chat
  .main-chat__group-info
    .main-chat__group-info__left-box
      %p.main-chat__group-infor__left-box__current-group
        =@group.name
      %p.main-chat__group-info__left-box__member-list
        Member:
        -@group.users.each do |user|
          =user.name
    %a
      =link_to edit_group_path(@group.id) do
        .main-chat__group-info__edit-btn Edit
        
  .main-chat__message-list
    = render @messages

  = form_for [@group, @message] do |f|
    .main-chat__message-form
      = f.text_field :content, class: 'main-chat__message-form__new-message', placeholder: 'type a message'
      .main-chat__message-form__new-message__input-box
        = f.label :image, class: 'main-chat__message-form__new-message__input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'main-chat__message-form__new-message__input-box__image__file'
      = f.submit 'Send', class: 'main-chat__message-form__new-message__submit-btn'
